<form [formGroup]="starShipForm">
  <section id="section" class="h-100">
    <div class="container py-5 h-100 ">
      <div class="row d-flex justify-content-center align-items-center h-100 bg-red">
        <div class="col">
          <div class="card card-registration my-4">
            <div id="bg1" class="row g-0 ">
              <div class="col-xl-6 d-none d-xl-block">
                <img
                  src="https://images.unsplash.com/photo-1631815583088-7d4b3e8e6ae2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1909&q=80"
                  alt="Sample photo"
                  class="img-fluid"
                  style="border-top-left-radius: .25rem; border-bottom-left-radius:.25rem;"
                />
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                  <h3 class="mb-5 text-uppercase" id="TEXT">Пополнете ја формата, за да се регистрирате!</h3>

                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <mat-form-field appearance="fill" class="width-100">
                        <mat-label>Име</mat-label>
                        <input matInput placeholder="Внеси име" formControlName="name" />
                      </mat-form-field>
                    </div>
                    <div class="col-md-6 mb-4">
                      <mat-form-field appearance="fill" class="width-100">
                        <mat-label>Презиме</mat-label>
                        <input matInput placeholder="Внесете презиме" formControlName="lastName" />
                      </mat-form-field>
                                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <mat-form-field appearance="fill" class="width-100">
                        <mat-label>Име на мајка</mat-label>
                        <input matInput placeholder="Внесете име на мајка" formControlName="motherName" />
                      </mat-form-field>

                    </div>
                    <div class="col-md-6 mb-4">
                      <mat-form-field appearance="fill" class="width-100">
                        <mat-label>Име на татко</mat-label>
                        <input matInput placeholder="Внесете име на татко" formControlName="motherName" />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                  <mat-form-field appearance="fill" class="width-100">
                    <mat-label>Адреса</mat-label>
                    <input matInput placeholder="Внесете адреса" formControlName="address" />
                  </mat-form-field>
                </div>
                <div class="row">
                  <mat-form-field appearance="fill" class="width-100">
                    <mat-label>Емаил адреса</mat-label>
                    <input matInput placeholder="primer@donirajkrv.mk" formControlName="email">
                  </mat-form-field>
                </div>
                <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
                <mat-radio-group formcontrolname="gender">
                  <mat-label style="margin-right: 7px;">Пол:</mat-label>
                  <mat-radio-button value="1">Машко</mat-radio-button>
                  <mat-radio-button class="example-radio-button" value="2">Женско</mat-radio-button>
                </mat-radio-group>

                </div>


                  <div class="row">

                    <mat-form-field appearance="fill">
                      <mat-label>Крвна група</mat-label>
                      <select matNativeControl required formcontrolname="bloodGroup">
                        <option value="O−">O−</option>
                        <option value="O+">O+</option>
                        <option value="A−">A−</option>
                        <option value="A+">A+</option>
                        <option value="B−">B−</option>
                        <option value="B+">B+</option>
                        <option value="AB−">AB−</option>
                        <option value="AB+">AB+</option>
                      </select>

                    </mat-form-field>
                  </div>
                  <div class="form-group">

                      <mat-form-field appearance="fill" class="width-100">
                          <mat-label>Password</mat-label>
                          <input matInput placeholder="Внесете Password" formControlName="password" type="password"/>
                        </mat-form-field>

                </div>
                  <div class="form-outline mb-4">

                  </div>
                  <div class="d-flex justify-content-end pt-3">

                    <button mat-raised-button color="warn" (click)="register()" >Регистрирај се!</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </form>
