<body>
  <main>
    <hr>
    <h1 class="text-center">Дарувањето на крв е добро за вашето здравје</h1>
    <hr>
    <br>

    <p>
      Во свет каде што речиси се може да се произведе, реконструира и редизајнира, научниците се’ уште не можат да направат вештачка крв, што значи дека луѓето кои имаат потреба од трансфузија на крв мора целосно да се потпрат на дарувањето. За жал, дарувањата не биле во можност да ја задоволат огромната потреба.
    </p>
    <img src="assets/images/covek.jpg" alt="Joce" class="center">
    <p class="sidePhoto">
      Протокот и волуменот на крвта се неопходни за срцето да чука. Сепак, иако може да звучи контрадикторно, редовното дарување на крв може всушност да го подобри здравјето на срцето, а не да го изложи на ризик. Редовното дарување може да помогне за намалување на густината и лепливоста на вашата крв, со што таа полесно ќе тече низ крвните садови и побрзо ќе стигне до срцето.
    </p>
    <p>Дарувањето на крв може да го намали ризикот за развој на рак кај донаторот. Железото, еден од главните минерали во крвта, е познат по зголемувањето на износот на штетата од слободните радикали во телото. Сепак, едно истражување од 2008 година покажало дека дарувањето помага во намалување на резервите на железо, а со тоа и намалување на индивидуалниот ризик за рак.</p>
     <img src="assets/images/kesiKrv.jpg"  alt="Joce" class="center2">
     <p class="testFloat"> Доколку спасувањето на другите и подобрувањето на сопственото здравје не е доволно за да ве натера да дарувате крв, можеби ќе ве натераат предностите за губење на тежината. Според „LiveStrong“ може да согорите 650 калории при дарување на околу 500 милилитри крв, што е повеќе од она што ќе го согорите за време на 30-минутно трчање. </p>
     <p class="testFloat"> Иако се проценува дека еден просечен човек може да спаси околу 1.000 животи во текот на животот со дарување на крв, Џејмс Харисон бил во можност да спаси околу 2 милиони поради неговата ретка крвна група, која содржела високи нивоа на антитела позната како „anti-D immunoglobulin“, која се користела специфично за да им се помогне на бебињата со состојба позната како Резуз – фактор. На кратко, имунолошкиот систем на мајките кои носат бебе со Резус-факторот го напаѓа фетусот. Меѓутоа, трансфузија од крвта на Харисон може да го спречи таквиот напад. </p>
      <p class="testFloat">Само 2 проценти од дарувањата на крв одат за пациентите со трауми, најмногу крв всушност примаат пациентите заболени од рак.Тешко е да се замисли само колку е важно крводарувањето, па според Американскиот Црвен Крст во САД е потребна крв за некој на секои 2 секунди. Покрај пациентите со рак и трауми, дарувањата се користат исто така и за операции, акушерство и за пациенти со одредено крвно нарушување.</p>
    </main>
</body>
