<body>
  <main>
    <section>
      <h1>Дарувањето на крв е добро за вашето здравје</h1>
      <div class="h1-divider"></div>
      <p class="intro"> Во свет каде што речиси се може да се произведе, реконструира и
        редизајнира, научниците се’ уште не можат да направат вештачка крв, што значи дека
        луѓето кои имаат потреба од трансфузија на крв мора целосно да се потпрат на дарувањето. За жал,
        дарувањата не биле во можност да ја задоволат огромната потреба. Протокот и волуменот на крвта се неопходни за срцето да
        чука. Сепак, иако може да звучи контрадикторно, редовното дарување на
         крв може всушност да го подобри здравјето на срцето, а не да го изложи
         на ризик. Редовното дарување може да помогне за намалување на густината и
        лепливоста на вашата крв, со што таа полесно ќе тече низ
        крвните садови и побрзо ќе стигне до срцето.</p>

      <article>
        <h3>Протокот и волуменот на крвта се неопходни за срцето</h3>
        <p>Иако се проценува дека еден просечен човек може да спаси околу
          1.000 животи во текот на животот со дарување на крв, Џејмс Харисон
          бил во можност да спаси околу 2 милиони поради неговата ретка крвна
           група, која содржела високи нивоа на антитела позната како „anti-D
           immunoglobulin“, која се користела специфично за да им се помогне на
           бебињата со состојба позната како Резуз – фактор. На кратко, имунолошкиот
           систем на мајките кои носат бебе со Резус-факторот
           го напаѓа фетусот. Меѓутоа, трансфузија од
            крвта на Харисон може да го спречи таквиот напад.</p>

        <div class="placeHolder_img"></div>

        <h3>Eден просечен човек може да спаси 1.000 животи</h3>
        <p>Иако се проценува дека еден просечен човек може да спаси околу 1.000 животи во текот на
           животот со дарување на крв, Џејмс Харисон бил во можност да спаси околу 2 милиони поради
            неговата ретка крвна група, која содржела високи нивоа на антитела позната како „anti-D
            immunoglobulin“, која се користела специфично за да им се помогне на бебињата со состојба
             позната како Резуз – фактор. На кратко, имунолошкиот систем на мајките кои носат
           бебе со Резус-факторот го напаѓа фетусот. Меѓутоа, трансфузија од крвта на Харисон може да
           го спречи таквиот напад</p>
      </article>
    </section>
  </main>
  </body>
