.contact-us {
  padding: 70px 0px;
  background-image: url("/assets/images/pozadinaKontakt.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-title h2 {
  color: #ffffff;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 8px;
  border-bottom: 5px solid #979797;
  padding-bottom: 10px;
  display: inline-block;
}
.section-title p {
  color: #e8e8e8;
  margin-bottom: 30px;
}
.contact-us input,
.contact-us textarea {
  background: #fafafa;
}
.contact-us textarea {
  min-height: 188px;
  max-width: 100%;
}
.contact-us .map {
  overflow: hidden;
  border-radius: 7px;
}
/* body{
    background-image: url("src/assets/images/contact-us.jpg");
} */
