<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!-- Contact Us Section -->
        <section class="contact-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="section-title">
                            <h2>Контактирај не</h2>
                              <p>Преку оваа форма можете да не контактирате во секое време. Ви стоиме на располагање.<b>Подигни ја свеста! Дарувај крв, дарувај живот!</b></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7">
                        <form action="/" class="mb-4 mb-lg-0">
                            <div class="form-row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Име" />
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email адреса" />
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Наслов" />
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" placeholder="Напишете порака..."></textarea>
                            </div>
                            <button type="submit" class="btn btn-light">Контактирај</button>
                        </form>
                    </div>

                    <div class="col-lg-5">
                        <div class="map">
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26551.456296031545!2d21.421280220819828!3d41.992025568228996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135415b6281f6a17%3A0x342f33df1eb0a041!2sRed%20Cross%20of%20the%20Republic%20of%20Macedonia!5e0!3m2!1sen!2smk!4v1638434393295!5m2!1sen!2smk" width="700" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br><br><br><br><br><br><br>
        </section>
        <!-- End Contact Us Section -->
    </body>
</html>
