
<form [formGroup]="loginForm" >
<div class="wrapper">
    <div class="logo"> <img src="assets\images\redCross.png" alt=""> </div>
    <div class="text-center mt-4 name"> Донирај и ти </div>
    <form class="p-3 mt-3 text-center mt-4 name">
        <mat-form-field appearance="fill" class="width-100 form-center">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter Name" formControlName="userName" />
          </mat-form-field>
        <mat-form-field appearance="fill" class="width-100">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter Password" formControlName="password" type="password"/>
          </mat-form-field> <button id="butt" mat-raised-button color="primary"  (click)="login()" > <img id="heart" src="assets\images\heartBeat.svg">Најави се</button>
    </form>
    <div class="text-center fs-6"><a id='reg' routerLink="/register">Регистрирај се</a> </div>
</div>
<br><br><br><br><br><br><br><br><br>
