<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

<div class="container">
  <br><br><br><br>
  <div class="text-center">
  <hr>
  <h2>Локации каде може да донирате крв</h2>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-8">
      <br><br>
      <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d868567.8989777104!2d21.35654578515967!3d41.691499900732424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sHospital%20in%20Macedonia!5e0!3m2!1sen!2smk!4v1638442920383!5m2!1sen!2smk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

    <div class="col-sm-4" id="contact2">
      <br><br><br><br><br>
        <hr align="left" width="100%">
        <i class="fas fa-globe" style="color:#000"></i> Адреса: Бул. Кочо Рацин бр.13, 1000 Скопје<br>
        <br>
        <i class="fas fa-phone" style="color:#000"></i> <a href="tel:+"> +38902 311 4355 </a><br>
        <br>
        <i class="fas fa-phone" style="color:#000"></i><a href="tel:+"> +38902 323 0542 </a><br>
        <br>
        <i class="fa fa-envelope" style="color:#000"></i> <a href="">mrc@redcross.org.mk</a><br>
      </div>
  </div>
</div>

<br><br>
