<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel-fade">
  <div class="carousel-indicators carousel-fade">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active carousel-fade" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
    <!-- Pocnuva slider na sliki -->
  <div class="carousel-inner carousel-fade">
    <div class="carousel-item active carousel-fade">
      <div class="carousel-caption d-none d-md-block">
      <h1 class="inner">БИДИ ХУМАН И ДАРУВАЈ КРВ, ЗА НЕКОГО ЖИВОТ ЗНАЧИ!</h1>
      </div>
    <img src="assets\images\2600TRETA.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item carousel-fade">
      <div class="carousel-caption d-none d-md-block">
        <h1 class="inner">ЧУВСТВОТО ВО МОМЕТОТ ДА ДАДЕЖ НЕШТО "НЕВРЕДНО",<br> А ЗА НЕКОГО ЖИВОТ ВРЕДИ!</h1>
        </div>
      <img src="assets\images\2600PRVA.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item carousel-fade">
      <div class="carousel-caption d-none d-md-block">
        <h1 class="inner">ЗА БИЛО КАКВА ПОТРЕБА ОСТВАРЕТЕ КОНТАКТ СО НАС!</h1>
        </div>
      <img src="assets\images\2600VTORA.jpg" class="d-block w-100" alt="...">
    </div>
  </div>

  <button class="carousel-control-prev carousel-fade" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon carousel-fade" aria-hidden="true"></span>
    <span class="visually-hidden carousel-fade carousel-fade">Previous</span>
  </button>

  <button class="carousel-control-next carousel-fade" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon carousel-fade" aria-hidden="true"></span>
    <span class="visually-hidden carousel-fade carousel-fade">Next</span>
  </button>

</div>


