<body>
  <main>
    <section>
      <h1>Балкански рекордер во дарување крв</h1>
      <div class="h1-divider"></div>
      <p class="intro"> За да почнете да донирате крв, освен хуманост, ви треба и храброст. Мене не ми недостигаше затоа што бев млад.

        Велешанецот Јордан Коларов најдобро знае што значи да се помогне некому кога му е најтешко, а притоа да не праша за кого треба и колку треба, важно е да се помогне. Со 186 дарувани единици крв, 68-годишниот Јордан е балкански рекордер во крводарителство, односно тој донирал над 83 литри крв до неговата 65. година од животот.

        Чичко Данчо, како што милуваат да го поздравуваат велешани на улица, три години подоцна од последното дарување ужива во пензионерскиот живот задоволен што спасил стотина животи во Македонија донирајќи ја својата крвна група 0 +.
        Жали што не можел да постави уште некој рекорд, но законот за дарување крв вели дека кај нас мажите донираат еднаш на три месеци, а жените еднаш на четири месеци.</p>

      <article>
        <h3>Јордан Коларов е балканскиот рекордер</h3>
        <p>Донирав од мојата 18-годишна возраст до 65 години, колку што е законски дозволено кај нас за крводарувањето.
          Сакав да стигнам до 190 дарувања. Но ми се појавија здравствени проблеми и урологот ми рече да прекинам.
           Можев да срушам уште некој рекорд доколку имавме исто правило како во Бугарија, на пример. Таму мажите
            можат да даруваат на секои два месеца, а жените на секои три месеци. Ако беше овој закон кај нас,
           ќе дарував уште 60-ина крвни единици, што ќе значеше дека ќе спасев уште десетици животи - рече Коларов.</p>

        <div class="placeHolder_img"></div>

        <h3>Влијанието на Јордан</h3>
        <p>Најуспешниот крводарител на Балканот првпат донирал крв во далечната 1971 година кога учел средно училиште во Гостивар.
          За да почнете да донирате крв, освен хуманост, ви треба и храброст. Мене не ми недостигаше затоа што бев млад. Се сеќавам дека
          се случи голема сообраќајна несреќа во Маврово. Група лекари дојдоа на училиште и побараа крвни единици за настраданите. Нивниот говор за хуманоста и за тоа што ќе значи моето дарување силно ме мотивира и решив да донирам првпат – откри велешкиот крводарител.
         Колку што има донирано крвни единици, уште најмалку толку луѓе убедил да бидат редовни крводарители како него. Дарувањето во семејството Коларови станало
         долгогодишна традиција, а Јордан мотивирал околу 50 негови блиски и далечни роднини да му се приклучат во хуманитарното движење.
         Јас го поминав работниот век во велешката топилница. Благодарение на мојот пристап, го убедив цел погон за изработка на сребрен накит, од кој 99% беа жени, да даруваат крв. Тоа е само една од акциите што сум ги организирал во работни организации. А акциите со Црвениот крст не можам ниту да ги избројам - раскажа најуспешниот крводарител.
         Чичко Данчо раскажа еден несекојдневен настан кој се случил пред 40 години кога со своето друштво седел до доцна во кафеана, а следното утро требало да даруваат
         крв.</p>
      </article>
    </section>
  </main>
  </body>
